* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:hover,
a:active {
  text-decoration: none;
}

input,
input:hover,
input:active,
input:focus,
textarea,
textarea:hover,
textarea:active,
textarea:focus,
select,
select:hover,
select:active,
select:focus {
  box-shadow: unset;
  outline: unset;
  border: unset;
}

ul,
ol {
  list-style-type: none;
  list-style: none;
}

.img-responsive {
  max-width: 100%;
  display: block;
}

html {
  font-size: 16px;
}

::placeholder {
  color: #b0b0b0;
}

.imghome {
  width: 100%;
  max-width: 1024px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "sans-serif";
  cursor: pointer;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  width: 200px;
}

.btn:hover {
  color: white;
  background-color: #191516;
}
.btn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;

  background: black;
  z-index: -1;
  transition: 0.3s;
  top: 0;
  border-radius: 50% 50% 0 0;
}
.btn:hover::before {
  height: 180%;
}

.btnContainer {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}

.imghome {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-wrap: wrap;

  padding: 5px;
}

.col-half {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.htext {
  margin: 10% 0 20% 0;
  text-align: center;
  flex-shrink: 0;
  font-size: 1em;
}

.hdesktop {
  display: block;
}
.htablet {
  display: none;
}
.hmobile {
  display: none;
}

@media (max-width: 1024px) and (min-width: 767px) {
  .btnContainer {
    display: block;
  }
  .btn {
    margin-bottom: 20px;
    width: 500px;
  }
  @media (min-width: 768px) {
    .hdesktop {
      display: none;
    }
    .htablet {
      display: block;
    }

    .hmobile {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .btnContainer {
    display: block;
  }
  .btn {
    margin-bottom: 20px;
    width: 360px;
  }
  @media (max-width: 1024px) {
    .hdesktop {
      display: none;
    }
    .htablet {
      display: none;
    }
    .hmobile {
      display: block;
    }
  }
}
