* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:hover,
a:active {
  text-decoration: none;
}

input,
input:hover,
input:active,
input:focus,
textarea,
textarea:hover,
textarea:active,
textarea:focus,
select,
select:hover,
select:active,
select:focus {
  box-shadow: unset;
  outline: unset;
  border: unset;
}

ul,
ol {
  list-style-type: none;
  list-style: none;
}

.img-responsive {
  max-width: 100%;
  display: block;
}

html {
  font-size: 16px;
}

::placeholder {
  color: #b0b0b0;
}

.imghome {
  width: 100%;
  max-width: 1024px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1024px) {
}
@media (max-width: 767px) {
}
